<div class="center hero-unit">
  <h1>Hello, Everybody!</h1>

  <h2>
    Welcome to my blog!
  </h2>
<div id="myposts">
  <%= link_to "My Posts!", 'http://localhost:3000/articles', class: "btn btn-large  btn-success"  %>
</div>
</div>

 
